body,
html {
    background-color: #efefef;
}

h1, h2, h3, h4, h5, h6 {
    /* color: rgb(238, 218, 164); */
}

button, p, span, label, li {
    /* color: white; */
}

.hover-outline:hover {
    outline: 1px solid black;
}

.hover-white:hover {
    color: black;
}

.cursor-pointer {
    cursor: pointer;
}
