body,
html {
    background-color: #222;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(238, 218, 164);
}

button, p, span, label {
    color: white;
}

.hover-white:hover {
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}
